/*
 *  GENERIC
 */

@import 'normalize';
@import 'reset';


/*
 *  GLOBAL SETTINGS / VARIABLES
 */



/*
 *  ELEMENTS
 */

// html,body { 
//     background: #E0DACC;
// }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #e0dacc;
}

/*
 *  OBJECTS / LAYOUT
 */

.bg-main-vid {    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #272011;
}

.bg-main-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 172px;
    height: auto;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 10;
}
.m-logo:focus { outline: none; }
.m-logo img { width: 100%; height: auto; }

.m-logo--in_header {
    width: 50px;
    height: auto;
    top: 35px;
    left: 8%;
    transform: none;
    pointer-events: all;
    z-index: 2001;
}

.cat-title {
    font: 100 2.4em 'Roboto', sans-serif;
    color: white;
    position: absolute;
    left: 9%;
    transform: translate(55px, 0);
    top: 44px;
    word-wrap: break-word;
    margin: 0;
    text-transform: uppercase;
}
.cat-title:before { content: " / "; }


/* Modal */

.modal {
    visibility: hidden;
    background: #d7cfb4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: -100;
    will-change: transform, opacity;
}
    
.modal__inner {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    
    padding-top: 70px;
    padding-bottom: 3%;
    
    transform: scale(0.9);
    transition: all 0.2s ease;
}

.modal--visible {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.modal--visible .modal__inner {
    transform: scale(1);
}

.menu_item {
    font: 100 2.2em 'Roboto', sans-serif;
    border: 28px solid white;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 40%;
    height: 40%;
    margin: 2%;
    text-align: center;
    
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    
    pointer-events: none;
}
/* vertical margins don't work as expected in Firefox */
@-moz-document url-prefix() { .menu_item { margin: 3% 2%; } }

.modal--visible .menu_item {
    pointer-events: all;
}

.menu_item:hover {
    background: #cbc1aa;
}


/* Image block */

.photo-section {
    position: relative; // Forces this to be on top of the video
    column-count: 3;
    column-gap: 3vw;
    padding: 128px 8% 30px 8%;
}

.photo-box {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 3em;
	break-inside: avoid;
}

.photo-box img {
    width: 100%;
    height: auto;
}

.photo-link { display: block; }

.photo-link:focus { outline: none; }

.photo-title {
    position: relative;
    top: -1px; /* Fixes Chrome 1-pix gap bug */
    font: 100 1.8em/1.2 'Roboto', sans-serif;
    margin: 0;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    background-color: #31302E;
    color: #e7e3e1;
    transition: all 0.2s ease;
    cursor: pointer;
}

.photo-box:hover > .photo-title {
    color: white;
}

.photo-box__inner {
    position: relative;
}

.photo-box-highlight {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
    z-index: 1;
}

.map-location {
    display: block;
    position: absolute;
    right: 0;
    bottom: 1px; /* Because .photo-title has a -1px offset due to a bug */
    width: 65px;
    height: 65px;
    background: #EFE9E0 url('../assets/icon-location.svg') no-repeat center center;
    background-size: 65% auto;
    z-index: 1;
    outline: none;
}

.map-location:hover { background-color: white; }

.photo-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #111; 
    overflow: hidden;
    cursor: pointer;
    z-index: 4000;
    outline: none;
}
.photo-lightbox img { 
    display: block;
    position: absolute;
    width: auto;
    height: auto; 
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hamburger */

.hamburger {
    display: block;
    position: absolute;
    top: 35px;
    right: 8%;
    width: 50px;
    height: 41px;
    padding: 0;
    z-index: 2000;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger__inner,
.hamburger__inner:before, 
.hamburger__inner:after {
    display: block;
    width: 50px;
    height: 9px;
    background: #fff;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
}

.hamburger__inner {
    margin-top: 0;
}
.hamburger__inner:before, 
.hamburger__inner:after {
    position: absolute;
    content: "";
    z-index: -1;
}
.hamburger__inner:before { top: 0; }
.hamburger__inner:after { top: 32px; }

.hamburger--open .hamburger__inner { background: none; }

.hamburger--open .hamburger__inner:before, 
.hamburger--open .hamburger__inner:after {
    top: 16px;
}
.hamburger--open .hamburger__inner:before {
    transform: rotate(-45deg);
}
.hamburger--open .hamburger__inner:after {
    transform: rotate(45deg);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1400px) {
    .menu_item {
        font-size: 2em;
        border: 20px solid white;
    }
    
    .photo-section {
        column-count: 2;
    }
}

@media only screen and (max-width: 800px) {
    .photo-section {
        column-count: 1;
    }
}

@media only screen and (max-width: 680px) {
    .menu_item {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 680px) and (orientation: portrait) {
    .menu_item { 
        width: 80%; 
        height: 18%;
    }
}

@media only screen and (max-width: 599px) {
    .photo-section {
        padding-left: 0;
        padding-right: 0;
    }
    .hamburger {
        right: 4%;
    }
    .m-logo--in_header {
        left: 4%;
    }
    .cat-title { left: 5%; }
}

@media only screen and (max-width: 500px) {
    .cat-title {
        left: 4%;
        top: 95px;
        transform: none;
    }
    .cat-title:before { content: ""; }
    .photo-section {
        padding-top: 160px;
    }
    .photo-box {
        margin-bottom: 1em;
    }
    .menu_item {
        font-size: 1.2em;
        border: 15px solid white;
    }
}
@media only screen and (max-width: 355px) {
    .cat-title { font-size: 2.1em; width: 96%; }
}



.has-tab-focus:focus,
.has-tab-focus:focus img {
    outline: 4px solid #f51b72 !important;
}


/* Helper classes */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
